/* This is an example of using Sass, otherwise plain CSS works too*/


body {
  margin: 0;
  background-color: white;
  // font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Barlow Condensed', sans-serif;
}

.splash-page {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ), url("../images/splash-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  // opacity: 0.5;
}

.splash-box {
  border-radius: 8px;
  background-color: white;
  border: 2px solid white;
  height: 400px;
  margin-top: 20%;
  text-align: center;
  width: 700px;
  opacity: .8;
}

.splash-page-h1 {
  font-size: 70px;
  margin-top: 15%;
}

.h1-span {
  font-style: italic;
}

.splash-page-h2 {
  font-size: 30px;
}

.splash-page-enter-button {
  height: 50px;
  width: 600px;
  font-size: 22px;
}

ul.tabs{
  padding: 0px;
  list-style: none;
}

ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

.tab-link {
  font-size: 22px;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
  margin-top: 40px;
  height: 73vh;
}

footer {
  background-color: darkgray;
  height: 12vh;
}

img {
  color: darkgray;
}

.main-page-header {
  float: right;
  font-size: 50px;
  font-style: bold;
  margin-right: 30px;
  letter-spacing: 3px;
}

#main-tab {
  background-image: url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: 65% 100%;
  background-position: right;
}

#twitter-logo {
  margin-left: 38%;
}

.footer-logos {
  height: 40px;
  margin-top: 20px;
  width: 60px;
  margin-right: 30px;
}